.companies{
  .companyContainer:hover{
    cursor: pointer;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    .companyContainer-remove{
      background: #4d5d65;
      display: block;
      height: 100%;
      left: 0;
      margin: 0;
      opacity: 0.5;
      position: absolute;
      text-align: center;
      top: 0;
      i{
        color: #fff;
        font-size: 85px;
        margin-top: 90px;
      }
    }
  }
  .companyContainer{
    background: #f8fafb;
    border: 1px solid #ececec;
    color: #99aab2;
    float: left;
    height: 260px;
    margin: 15px;
    max-width: 30%;
    padding: 15px;
    position: relative;
    div{
      display: inline-block;
      margin: 5px 0px;
      width: 100%;
    }
    >div:last-child{
      display:none;
    }
    i{
      margin: 0px 10px;
    }
    span{
      display: inline-block;
      font-family: sans-serif;
      font-size: 16px;
      max-height: 95px;
      overflow: hidden;
    }
    &-title{
      span{
        color: #4d5d65;
        font-size: 23px;
        font-weight: 700;
      }
    }
    &-details{
      bottom: 0px;
      display: block!important;
      position: absolute;
      span{
        position: absolute;
        left: 35px;
      }
    }
  }
}

// Animation

@-webkit-keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing
{
  15%
  {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30%
  {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50%
  {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65%
  {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80%
  {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100%
  {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media screen and (max-width: 920px) {
  .companies{
    .companyContainer{
      max-width: 45%;
    }
  }
}

@media screen and (max-width: 620px) {
  .companies{
    .companyContainer{
      max-width: 95%;
    }
  }
}